.headerWrapper {
  border: 1px solid rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 20px 0;
  font-family: 'limelight', sans-serif;
  font-size: 55px;
}